{% extends 'database/base.html' %}
{% block title %}Thunder Games - {{ game.name }}{% endblock %}
{% block game_active %}active{% endblock %}

{% block body %}

  <h1>{{ game.name }}</h1>

  <div class="row">
    <div class="col-sm-6">
      <h4>Basic information</h4>
      <p>Name: <b>{{ game.name }}</b>.</p>
      <p>Game ID: <b>{{ game.pk }}</b>.</p>
      <p>Main genre: <b>{{ game.main_genre }}.</b>.</p>

      {% if game.subgenres %}
      <p>Subgenres:</p>
      <ul>
        {% for subgenre in game.subgenres.all %}
        <li>{{ subgenre }}
          {% endfor %}
        </ul>
        {% else %}
        <p>No subgenres found. You can add some <a href="{% url 'database:edit-game' game.pk %}">here</a>.</p>
        {% endif %}
    </div>
    <div class="col-sm-6">
      <h4>Game cover</h4>
      {% if game.image %}
      <p><img src="{{ game.image.url }}" class="img-responsive"></p>
      {% else %}
      No image found. Please add one <a href="{% url 'database:edit-game' game.pk %}">here</a>.
      {% endif %}
    </div>
  </div>

  <a href="{% url 'database:edit-game' game.pk %}"><button type="button" class="btn btn-primary">Edit</button></a>
  <a href="{% url 'database:delete-game' game.pk %}"><button type="button" class="btn btn-primary">Delete</button></a>

{% endblock %}
