{% extends 'database/base.html' %}
{% block title %}Thunder Games - Home{% endblock %}
{% block index_active %}active{% endblock %}

{% block body %}


    {% if user.is_authenticated %}
      <div class="jumbotron">
        <p class="display-4">Hello, {{ user.get_username }}!</p>
        <p>You can add a <a href="{% url 'database:add-game' %}">new game</a>, <a href="{% url 'database:add-main-genre' %}">main genre</a> or <a href="{% url 'database:add-subgenre' %}">subgenre</a> or browse through all items below.</p>
        <p>As a signed-in user, you also have access to <a href="{% url 'database:api-main' %}">APIs</a>.</p>
      </div>
    {% else %}

      <div class="jumbotron">
        <p class="display-4">Hello, visitor!</p>
        <p>You can browse all games, main genres and subgenres below. If you would like to add or edit your own content, please login or create a new account.</p>
      </div>
    {% endif %}

    {% if all_games %}
      <h2>List of all games</h2>
      <ul>
          {% for game in all_games %}
          <li><a href="{% url 'database:game' game.id %}">{{ game.name }}</a></li>
          {% endfor %}
      </ul>
    {% else %}
      <p>There are no games.</p>
    {% endif %}

    {% if all_main_genres %}
      <h2>List of all main genres</h2>
      <ul>
          {% for maingenre in all_main_genres %}
          <li><a href="{% url 'database:main-genre' maingenre.id %}">{{ maingenre.name }}</a></li>
          {% endfor %}
      </ul>
    {% else %}
      <p>There are no main genres.</p>
    {% endif %}

    {% if all_subgenres %}
      <h2>List of all subgenres</h2>
      <ul>
          {% for subgenre in all_subgenres %}
          <li><a href="{% url 'database:subgenre' subgenre.id %}">{{ subgenre.name }}</a></li>
          {% endfor %}
      </ul>
    {% else %}
      <p>There are no subgenres.</p>
    {% endif %}

{% endblock %}
