{% extends 'database/base.html' %}
{% block title %}Thunder Games - {{ subgenre.name }}{% endblock %}
{% block subgenre_active %}active{% endblock %}

{% block body %}

  <h1>{{ subgenre.name }}</h1>

  <div class="row">
    <div class="col-sm-6">
      <h4>Basic information</h4>
      <p>Name: <b>{{ subgenre.name }}</b>.</p>
      <p>Main genre: <b>{{ subgenre.main_genre }}</b>.</p>
      <p>Subgenre ID: <b>{{ subgenre.pk }}</b>.</p>
    </div>
    <div class="col-sm-6">
      <h4>Subgenre cover</h4>
      {% if subgenre.image %}
      <p><img src="{{ subgenre.image.url }}" class="img-responsive"></p>
      {% else %}
      No image found. Please add one <a href="{% url 'database:edit-subgenre' subgenre.pk %}">here</a>.
      {% endif %}
    </div>
  </div>

  <a href="{% url 'database:edit-subgenre' subgenre.pk %}"><button type="button" class="btn btn-primary">Edit</button></a>
  <a href="{% url 'database:delete-subgenre' subgenre.pk %}"><button type="button" class="btn btn-primary">Delete</button></a>

{% endblock %}
